body{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: cyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Knewave', cursive;
font-family: 'Lobster', cursive;
font-family: 'Press Start 2P', cursive;
}

header h1{
    color: #515a51;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #483a94;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

main image{
    max-width: 100%;
}